.cardContainer {
    border-radius: 15px;
    filter: drop-shadow(10px 10px 20px rgba(0,0,0,0.1));
}

.menuRow {
    margin-top:8px;
}

.profilePic {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}


